<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <!-- This h1 contains embedded javascript! -->
  <h1>The Home Page <%= 4 + 5 %> <%= 'hello world!'.toUpperCase(); %></h1>  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatum fugit quibusdam voluptatibus iusto facilis sapiente quisquam possimus minus ullam odit impedit veritatis amet nobis rerum vel commodi, laborum et debitis dolores autem? Quas porro quasi, nihil minus earum asperiores doloremque perspiciatis molestiae! Libero aliquam modi, reiciendis dolores tempore labore.</p>


  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora facere incidunt voluptas rem vero aliquid recusandae, consectetur fugiat, culpa alias vitae iure molestiae magnam?</p>
</body>
</html>